@charset "UTF-8";
/* CSS Document */

*{
	-webkit-transform: translateZ(0);
	/*-webkit-perspective: 1000;*/
	/*-webkit-backface-visibility: hidden;*/
}

html{
	height:100%;
	width:100%;
	background-color:rgb(245,245,245);
	background-position:center 0px;
	background-size:100%;

}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12pt;
	margin:0px;
	background-attachment: scroll;
	background-repeat: repeat-y;
	width:100%;
	height:100%;
}